@import url('./splitpanes.css');
@import url('./theme.css');
@import url('./ui-rewrite/n-badge.css');
@import url('./ui-rewrite/n-popover.css');
@import url('./ui-rewrite/n-pagination.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
* {
  font-family: 'Open Sans', Avenir, Helvetica, Arial, sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
