.splitpanes__splitter {
  @apply relative;
}
.splitpanes__splitter:before {
  @apply absolute left-0 top-0 opacity-0;
  content: '';
  transition: opacity 0.4s;
  z-index: 1;
}
.splitpanes__splitter:hover:before {
  @apply opacity-100 bg-teal-400;
}
.splitpanes--vertical > .splitpanes__splitter:before {
  left: -5px;
  right: -5px;
  height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -5px;
  bottom: -5px;
  width: 100%;
}
